/*!
Theme Name: LaFleur
Description: Description
Version: 1.0.0
Tested up to: 7.2

Text Domain: la-fleur

Use it to make something cool, have fun, and share what you've learned.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
/* General */
.iv-button {
	display: inline-block;
	border: 1px solid black;
	padding: 10px 20px;
	margin: 10px 20px;
}

/* Login & Registration */
.status_login, .status_registration, .status_reset_password {
	text-align: center;
	padding-bottom: 15px;
}

/* Pagination of product at page shop */
.pagination-shop span.current {
    font-style: italic;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: 
    rgba(0, 0, 0, 1);
}
.pagination-shop span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: all .5s ease-in;
    color: rgba(0, 0, 0, 0.6);
}

/* widget at page shop */
.widget-taxonomies-list { width: 100%; }
.widget-price-filter { width: 100%; }
.woocommerce-widget-layered-nav { width: 100%; }

.this-choosed-filter-block ul.children a {display: block;padding-left: 20px;}

/* Added to cart message */
a.added_to_cart.wc-forward {
    display: none;
}

/* variable.php */
#product_width {width: 100%;}
#product_width a.reset_variations {position: absolute;margin-left: 20px;}
#product_width td.value {min-width: 150px;}
.woocommerce-variation .woocommerce-variation-price {
	padding-bottom: 10px;	
}
@media screen and (max-width: 768px){
	.woocommerce-variation .woocommerce-variation-price {
		border-left: 1px solid black;
		border-right: 1px solid black;
		padding-left: 10px;
	}
}
#product_width .select-choose-volume .select2-container--open .select2-dropdown--below {
    width: 150px !important;
    right: -71px !important;
}
.grouped-button {
	border: 1px solid black;
	margin-top: 10px;
}
.grouped-product .product-btn_add-card_wr {
	border-left: 1px solid black;
}
.grouped-product .woocommerce-grouped-product-list-item__label {
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
}
.grouped-product .woocommerce-grouped-product-list-item__price {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

/* Ajax */
.la-fleur-loading {opacity: 0.3;}

/* following_to_news */
.input-mail-error__message_two p {
    font-size: calc(10px + 2 * (100vw / 1920));
    text-transform: uppercase;
    color: 
    red;
    padding: 8px 0 0 0;
}

/* .woocommerce-variation-price */
.la-fleur-variation-price {
    font-family: 'Cormorant SC', serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(26px + 8 * (100vw / 1920));
    line-height: 1.2;
    /*text-align: center;*/
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

body.single-product .woocommerce-variation.single_variation {display: none !important;}

#product_width td.line {
    min-width: 23px;
}
#product_width td.value {
    min-width: 50px;
}

/* orders */
.yr-order-pending { color: broun; }
.yr-order-processing { color: orange; }
.yr-order-cancelled { color: blue; }
.yr-order-refunded { color: violett; }
.yr-order-failed  { color: red; }
.yr-order-yellow { color: yellow; }


@media screen and (max-width: 768px){
	.mobil-p-l {padding-right: 20px;margin-bottom: 15px;margin-top: 15px;}
}

/* price */
.perfumency-with-product_top__price h3 {
		font-family: 'Cormorant SC', serif !important;
		}
@media screen and (max-width: 768px){
	.perfumency-with-product_top__price.f-s-36 h3 {
		font-family: 'Cormorant SC', serif !important;
		font-size: 36px !important;
	}
}

/* info */
.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    background-color: transparent;
}

/* my account */
#response_text { padding: 10px 10px 20px 10px; }

.page-template-tpl-my-account .mob-links{ width: 100%; text-align: left;}

/* checkout */
#link-to-order-step-2 p {
	font-size: calc(10px + 6 * (100vw / 1500));
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.page-template-tpl-checkout .woocommerce { width: 100%;/*display: flex;*/ }

.page-template-tpl-checkout #customer_details { display: none !important; }
.page-template-tpl-checkout #order_review { display: none !important; }

.checkout-p-required { font-size: 12px;display: none; }
.checkout-p-required a { border-bottom: 1px solid #000; }

.page-template-tpl-checkout .woocommerce-order { padding: 20px 55px; }
.page-template-tpl-checkout .woocommerce-notice--success { font-size: 24px;padding-bottom: 20px;color: #000;font-weight: bold; }
.page-template-tpl-checkout li { margin-bottom: 10px; }
.page-template-tpl-checkout h2 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.page-template-tpl-checkout .woocommerce-order-received table tr { height: 5rem; }
.page-template-tpl-checkout .woocommerce-order-details table tr td { text-align: center; }
.page-template-tpl-checkout .woocommerce-order-details table th, 
.page-template-tpl-checkout .woocommerce-order-details table td { border: 0.1rem solid #dcd7ca; padding: 10px 20px;}

@media screen and (max-width: 768px){
	.page-template-tpl-checkout .woocommerce-order { padding: 20px 25px; }
}

/* cart */
.page-template-tpl-cart { width: 100%;/*display: flex;*/ }
.page-template-tpl-cart .cart-empty, .page-template-tpl-cart .woocommerce-info { 
	padding: 20px 55px;
}
.page-template-tpl-cart .return-to-shop { 
	padding: 20px 55px;font-weight: bold;
}
@media screen and (max-width: 768px){
	.page-template-tpl-cart .cart-empty, .page-template-tpl-cart .woocommerce-info { 
		padding: 25px;
	}
	.page-template-tpl-cart .return-to-shop { 
		padding: 25px;
	}
}

/* form search */
input#header_search { height: 100%; }

/* select2 */
.select2-container--default.select2-container--disabled .select2-selection--single { background-color: #fff; }


